
  body {
    background-color: #f1f1f1;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
  }
  
  main{
    min-height: 84vh;
    margin: 0 0 100px;
  }


  footer {
    text-align: center;
    padding: 20px;
    position: absolute;
    min-height: 25vh;
    bottom: 0;
    width: 100%;

  }
  

  main{
    margin-bottom:10em;
  }